version: "3.8"

services:
  mysqldb:
    image: mysql:8.0
    container_name: mysqldb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Ni@12345
      MYSQL_DATABASE: urlshort_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: urlshortener-app
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mysqldb
      - redis
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/urlshort_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Ni@12345

      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

volumes:
  mysql_data:
