spring:
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379
      timeout: 100ms
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

notification:
  slack:
    webhook-url: ${SLACK_WEBHOOK_URL:}
    enabled: true
    max-retries: 3

server:
  port: 8081